@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}

body, html {
    background: url('../src/background3.jpg');
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 27px;
    display: flex;
    align-items: flex-start;
}

body::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-track {
    background: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
    border: 3px solid #000;
}

input {
    border: 0;
    border-bottom: 2px solid #000;
    padding: 2px;
    background: transparent;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

button {
    background: #fff;
    font-size: 14px;
    width: 140px;
    height: 30px;
    padding: 5px;
    border-radius: 15px;
    transition: all 0.2s;
    margin: 8px;
    box-sizing: border-box;
    cursor: pointer;
}

/* BOTÕES 1ª LINHA*/
.primary:hover {
    background: #a2b7d6;
}

.colaborar:hover {
    background: #735bb6;
}

.advogado:hover{
    background: #321a74;
}

/* BOTÕES 2ª LINHA*/
.penaTotal:hover {
    background: #d60b0b;
}

.penaParcial:hover {
    background: #49e01b;
}

.liberdade:hover{
    background: #067233;
}

.multar:hover{
    background: #b8204dd8;
}

/* BOTÕES 3ª LINHA*/
.clean:hover {
    background: #ca6a10;
}

.end:hover, .copiarFinalizado:hover {
    background: #00a650;
}

.container {
    width: 50%;
    margin-right: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container strong {
    color: white;
    text-shadow:
               -1px -1px 0px #000,
               -1px 1px 0px #000,
                1px -1px 0px #000,
                1px 0px 0px #000;
}

.container2 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 75%;
    background: rgba(255, 255, 255, 0.9);
    padding: 27px;
    border-radius: 30px;
    width: 500px;
    height: 500px;
}

/* Ajuste da categoria para posicionar os botões abaixo do título */
.categoria {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px; /* Garantir que tenha espaçamento após o título */
    margin-bottom: 20px; /* Espaçamento adicional abaixo da categoria */
}

.infracaoLeve, .crimeMedio, .crimeGrave, .crimeGravissimo {
    background: rgba(80, 162, 255, 1);
    padding: 20px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 10px;
    margin-bottom: 10px;
}

.crimeMedio {
    background: #f0c808;
}

.crimeMedio:hover {
    filter: brightness(1.2);
}

.crimeGrave {
    background: #f08b08;
}

.crimeGrave:hover {
    filter: brightness(1.2);
}

.crimeGravissimo {
    background: #dd1c1a;
    color: #fff;
}

.brilho-hover {
    transition: filter 0.3s ease;
}
.brilho-hover:hover {
    filter: brightness(1.2);
}

.crimeGravissimo:hover {
    filter: brightness(1.2);
}

.finalizado {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.9);
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.voltarFinalizado, .copiarFinalizado {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.copiarFinalizado {
    top: 60%;
    left: 50%;
}


.infracaoLeve:hover {
    background: rgba(158, 211, 255, 0.8);
}

.categoria-linha {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.categoria-linha > div {
    width: calc(20% - 10px); /* 5 botões por linha */
    margin-bottom: 10px;
}

/* Estilo do conteúdo do popup */
.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    text-align: left;
    position: relative;

    /* Flexbox para estruturação */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: flex-start; /* Alinha todo o conteúdo à esquerda */
    margin: 40px auto;
}

/* Estilo para a overlay do popup */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* Garante que inicie oculto */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

/* Botão de fechar (X) */
.close-btn {
    position: absolute;
    top: 5px; /* Um pequeno espaçamento do topo */
    right: 5px; /* Um pequeno espaçamento da direita */
    width: 20px; /* Tamanho pequeno para o X */
    height: 20px; /* Tamanho pequeno para o X */
    background-color: transparent; /* Fundo transparente */
    border: none; /* Sem borda */
    font-size: 10px; /* Tamanho da fonte (o X) */
    font-weight: bold; /* Deixa o X mais destacado */
    cursor: pointer; /* Indica que é clicável */
    border-radius: 50%; /* Arredonda os cantos */
    transition: background-color 0.2s ease; /* Transição suave ao passar o mouse */
}

/* Alteração de cor quando o mouse passa sobre o botão */
.close-btn:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Leve sombra quando passar o mouse */
}

/* Estilo para botões */
button:hover {
    background-color: #0c7a6849;
}

/* Botão para copiar */
.copiar-btn {
    width: 100%;
}

.copiar-btn:active {
    background-color: #287272;
}

.crimeGravissimo {
    color: #fff;
}

/* QRCODE */

.doarIcon {
    position: absolute;
    top: 87%;
    left: 83%;
    bottom: 7%;
    width: 60px;
    height: 55px;
}

.popup-qrcode {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
        border-radius: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.popup-conteudo {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    width: 300px;
    box-shadow: 0 0 10px #000;
    
}

.img-qrcode {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    border-radius: 10px;
}

.fechar-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

/* RESPONSIVIDADE */

@media (max-width: 992px) {
    button {
        font-size: 12px;
        width: 120px;
        height: 28px;
    }
    .container {
        padding: 0.5em;
        margin-top: 470px;
        width: calc(100% - 1em);
        margin: 460px auto 0 auto;
    }

    .container2 {
        position: fixed;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
        width: 92%;
        height: auto;
        border-radius: 30px;
        z-index: 999;
    }

    .voltarFinalizado, .copiarFinalizado {
        margin-top: 130px;
    }

    .finalizado {
        margin-top: 210px;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 0.5em;
    }
    .container2 {
        top: 50%;
        left: 50%;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0.3em;
    }
    .container2 {
        top: 50%;
        left: 50%;
    }
}

@media (max-width: 400px) {
    .container2 {
        width: 95%;
        padding: 20px;
    }

    .popup-content {
        width: 90%;
        padding: 15px;
    }

    button {
        width: 100%;
        font-size: 12px;
    }
}
